/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-in {
    opacity:0.3;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    /* -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s; */
} 

.fade-out {
    opacity:1;  /* make things invisible upon start */
    -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    /* -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s; */
}

body {
    background: #000000;
    position: relative;
    overflow:hidden;
  }

  .button {
    width: 48px;
    height: 48px;
    cursor: pointer;
    fill: #3c3c3c;
  }
  .button:hover {
    fill: white;
  }
  
  .buttons {
    padding: 1rem;
    float: left;
    position: relative;
    z-index: 10;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
  }

.welcome {
  /* margin: auto; */
  max-width: 540px;
  /* top: 20; */
  color: #363636;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 11;

}


/* Cordelia */

h1 {
  /* position: absolute;
  width: 490px;
  height: 113px;
  left: 278px;
  top: 246px; */

  font-family: Sorts Mill Goudy;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 0px;

  color: #E5E5E5;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Welcome to */
.welcome-text {

  /* position: absolute;
  width: 111px;
  height: 32px;
  left: 278px;
  top: 236px; */

  font-family: Sorts Mill Goudy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;

  color: #E5E5E5;

}

/* This is a place for focus and relaxation—where sounds and color come  together to balance and refresh. Pay attention to your breath, body, and mind. Focus on what you need and what the universe has to offer. begin */

p {
  /* position: absolute;
  width: 541px;
  height: 218px;
  left: 278px;
  top: 385px; */

  font-family: Sorts Mill Goudy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #E5E5E5;
}
  

a{
    font-family: Sorts Mill Goudy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    text-decoration: underline;

    color: #E5E5E5;
  }
a:hover {
    color: white;
    font-weight: bold;
  }